body{
    background-color: gray;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

#corpo{
    height: 80%;
    width: 100%;
    font-size: large;
}

fieldset{
    margin: 0;
    border: 0;
}

#valvula{
    margin: 10px;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364, #00c6ff, #0072ff);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    
}

#sensores{
    margin: 10px;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364, #00c6ff, #0072ff);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
}

#botão{
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: linear-gradient(270deg, #00c6ff, #0072ff, #0f2027, #203a43, #2c5364);
  background-size: 400% 400%;
  transition: background-position 0.5s ease;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

#botão:hover {
  background-position: right center;
}

#header{
    background-image: url("gas.gif"), repeating-linear-gradient(
    45deg,
    #2e2e2e,
    #2e2e2e 2px,
    #3a3a3a 2px,
    #3a3a3a 4px
  );
  background-blend-mode: overlay;
    background-size: cover;         
    background-repeat: no-repeat;   
    background-position: center;
    padding-top: 10px;
    height: 50px;
    width: 100%;
    box-shadow: inset 0 0 30px rgba(0, 255, 255, 0.1), 0 0 20px rgba(0, 255, 255, 0.15);
}

ul, h2, a, li{
    display: inline;
}

#links{
    float: right;
}

.link{
    padding: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.link:hover{
    text-decoration: underline;
    color: rgba(0, 255, 255, 0.50)
}

#title{
    padding: 20px;
    color: white;
    font-weight: bold;
}

#div_title{
    display: inline;
    margin-top: 10px;
    float: left;
}

#info{
    color: rgb(218, 218, 42);
    margin: 10px;
    background: repeating-linear-gradient(
    45deg,
    #2e2e2e,
    #2e2e2e 2px,
    #3a3a3a 2px,
    #3a3a3a 4px
  );
  background-color: #333;
  box-shadow: inset 0 0 30px rgba(0, 255, 255, 0.1), 0 0 20px rgba(0, 255, 255, 0.15);
  border: 1px solid #444;
    padding: 10px;
    border-radius: 5px;

    
}

.info_h{
    display: block;
}

@media (max-width: 768px) {
  #links{
    float: left;
    padding-left: 0;
}

#header{
    height: 100px;
}
}
